{% extends 'app/base.html' %}
    {% load static %}
    {% block title %}About{%endblock title %}
    {% block main-content %}
    <div class="cointainer mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">
                This is a private limited company having its office at Lainchour,Kathmandu city of Nepal.
                This company was incorporated in the year 2024A.D.
            </p>
        </div>
        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center"> To embrace the right technology to delight our customers.
                To anticiplatejbaskjdkjdfjd
            </p>
        </div>
    </div> 
    {% endblock main-content %}